body * {
 /*   color: black; */
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    height: 100vh;
    vertical-align: baseline;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto, OpenSans, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    position: relative;
    background-color: #ffffff;
}

form, label {
    display: flex;
    flex-flow: column;
}

label > span {
    font-weight: 600;
}

/* ++++++++++ submit ++++++++++  */
.submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.submit > a {
    text-decoration: none;
}

.submit > button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.submitSend > button:hover{
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: brown;
    margin: 1rem 0 0;
}

.layoutMain {
    height: 100vh;
    display: block;
    position: relative;
}

.layoutMain header {
    position: relative;
}

main {
    height: 100%;
    background-color: #ffffff;
    position: relative;
}

header nav {
    margin: 0 auto;
    padding: 0.2rem 1.25rem;
}

header ul {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

header li {
    margin-right: 1rem;
}

header li:first-child {
    margin-left: auto;
}

header a {
    color: #fff;
    text-decoration: none;
}

header {
    color: #fff;
    background-color: #333;
}

.mainBlock {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.mainBlock a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.mainBlock nav {
    height: 40px;
    width: 100%;
    padding: 0 9 0 0;
    position: relative;
    background-color: #697382;
}

.mainBlock nav ul {
    height: 100%;
    position: relative;
    display: flex;
    list-style: none;
    margin-left: 1.25rem;
    padding: 0 0 0 0;
}

.mainBlock li {
    padding-right: 20px;
    text-align: center;
}

.tabcontent {
    height: calc(100% - 40px);
    width: 100%;
    padding: 0 0 0 0 !important;
    background-color: white;
    position: relative;
}

/* ++++++++++ home +++++++++ */
.homeLayout {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
  
.home {
    display: inline-block;
    height: 100%;
    position: relative;
}

/* +++++++ login +++++++ */
.login {
    max-width: 21rem;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.logoutli {
    width: 100%;
}

.logoutli > a {
    float: right;
}

.bottom-buttons {
    display: inline-flex;
    margin-left: 30%;
}

.login input, .addUser input, .username {
    padding: 8px;
    margin: 0.3rem 0 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=checkbox]{
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* +++++++++ header text +++++++ */
.workflowsheadertext, .activeheadertext, .magfolderHeaderText, 
.profileheadertext, .patientsDivheadertext{
    text-align: center;
    color: black;
}

.cleanRecordfolderMessage {
    text-align: center;
    color: red;
    margin-bottom: 10px;
    font-size: 12pt;
}

/* Admin: manage key tab */
.publicKey{
    width: 30%;
    height: 35%;
    margin-left: 35%;
    min-width: 140px;
    min-height: 140px;
}

.manageKeys {
    padding: 40px 40px 40px 40px;
    width: 100%;
    height: 720px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


/* Admin: Add user tab */
.addUser {
    display: inline-block;
    width: 25%;
    height: 100%;
    position: relative;
    text-align: center;
    margin-left: 35%;
    background-color: white;
}

.addUser li {
    margin-bottom: 0.5rem;
}

.addUser th, .addUser td, 
.workflowTable td, .workflowTable th, .workflowTable tr:hover,
.magfolderTable td, .magfolderTable th, .magfolderTable tr:hover,
.patientsTable td, .patientsTable tr:hover, .patientsTable th, 
.contoursModalTable td, .contoursModalTable tr:hover, .contoursModalTable th,
.dcmFilesTable td, .dcmFilesTable tr:hover, .dcmFilesTable th,
.folderDcmFilesTable td, .folderDcmFilesTable tr:hover, .folderDcmFilesTable th,
.cleanUnrecordTable td, .cleanUnrecordTable tr:hover, .cleanUnrecordTable th
{
    padding: 4px;
    border-bottom: 1px solid #808080;
    border: 2px solid black;
    margin-left: auto;
    table-layout:fixed;
    border: 1px solid grey;
    color: black;
    text-align: left;
    word-wrap: break-word; 
}

.patientsTable {
    border-collapse: collapse;
    margin-left: 1%;
    height: 100%;
    display: table-caption;
    position: relative;
    width: 100%;
    overflow: auto;
}

.cleanUnrecordTable{
    border-collapse: collapse;
    margin-left: 30%;
    height: 60%;
    display: table-caption;
    position: relative;
    width: 70%;
    overflow: auto;
}

.contoursModalTable {
    border-collapse: collapse;
    height: 430px;
    position:relative;
    width: 80%;
    overflow-y: auto;
}

.dcmFilesTable {
    border-collapse: collapse;
    margin-left: 6%;
    height: 460px;
    display:table-caption;
    position: relative;
    width: 92%;
    overflow: auto;
}

.folderDcmFilesTable {
    border-collapse: collapse;
    margin-left: 10%;
    height: 460px;
    display:table-caption;
    position: relative;
    width: 85%;
    overflow: auto;
}


/* ++++++++ Admin: Manager workflow page +++++++++ */
.worflowLayout, .filesLayout, .addUserDiv{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: white;
    color:black;
}

.addUserDiv{
    display:inline-block;
}

.workflowList, .filesList{
    width: 95%;
    height: 100%;
    position: relative;
    display: block;
}

.workflowTable, .magfolderTable {
    border: 2px solid black;
    /*border-collapse: collapse;   */
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

.workflowGraph  {
    opacity:0.9;
    background-color:#eee;
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.workflowGraphPanel  {
    opacity:0.9;
    background-color:#eee;
    width:100%;
    height:100%;
}

/* ++++++++++ Assignment user to the workflow ++++++++++ */
.assignUsersWf {
    opacity:0.95;
    background-color: #D3D3D3;
    position: fixed;
    width:55%;
    height:90%;
    z-index:2000;
    border: 3px solid #A9A9A9;
    margin: auto;
    top:10%;
    left:0;
    right:0;
    bottom:10%;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    overflow: auto;
}

.manageKeys button,
.assignUsersWf button, 
.patientsDiv button, 
.assignUsersList button,
.patientContourspanel button, 
.patientContoursList button, 
.patientList button,
.workflowGraph  button,
.uploadDiv button,
.uploadDiv input[type=reset],
.uploadDiv input[type=submit],
.bottom-buttons input[type=button],
.dcmDataInFolderDiv button,
.cleanUnrecordFolder button,
.submit button {

    font-size: 14pt;
    margin-top: 20px;
    margin-left: 3px;
    border:0.1em solid black;
    border-radius:0.12em;
    font-family:'Roboto',sans-serif;
    text-align:center;
    border-radius:0.12em;
}
.manageKeyButton button {
    margin-left: 47%;
}

.submit > button {
    margin-left: 35%;
    font-size: 14pt;
}

.workflowList button, .filesList button {
    padding: 4px 4px 4px 4px;
    border:0.1em solid black;
    font-family:'Roboto',sans-serif;
    border-radius:0.12em;
    text-align:center;
    font-size: 13pt;
}

.assignUsersList {
    width: 95%;
    height: 90%;
    position: absolute;
    display: block;
    padding-left: 4px;
    padding-right: 4px;
}

.usersTable, .usersTable * {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    width:100%;
    table-layout:fixed;
    margin-left: 2px;
    margin-right: 2px;
    color: black; 
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
}

.assignUsersWf .headertext, .manageKeyText,
.patientContourheadertext, 
.createWorkflow, .uploadfiles, 
.workflowInfoText, .uploadFileHeaderText,
.uploadFiles, .deleteFolders, .cleanUnrecordFolderText,
.h2
{
    text-align: center;
    color: black;
}

.contextMenu {
    position: absolute;   
    border: 2px solid black;
    z-index: 100000;
    background-color: #D3D3D3 !important;

}

.contextMenu ul, .contextMenu li {
    list-style-type: none;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: black;
}

.context-menu-item:hover, .context-menu-item-delete:hover{
    background-color: #228B22 !important;
    cursor: pointer;
}

/* Profile page */
.profileList {
    width: 95%;
    height: 100%;
    position: relative;
    display: block;
}

.profileTable, .profileTable * {
    width: 40%;
    border: 1px solid black;
    border-collapse: collapse;  
    margin-left: auto;
    margin-right: auto;
}

.patientContoursList, .patientList{
    width: 100%;
    height: 90%;
    position: relative;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
}

.uploadDiv {
    opacity:0.95;
    background-color: #D3D3D3;
    position: absolute;
    width:50%;
    height:50%;
    z-index:2000;
    border: 3px solid #A9A9A9;
    margin: auto;
    top:10%;
    left:0;
    right:0;
    bottom:10%;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    overflow: auto;
}

.dcmDataInFolderDiv {
    opacity:0.95;
    background-color: #D3D3D3;
    position: fixed;
    width: 60%;
    height:92%;
    z-index:2000;
    border: 3px solid #A9A9A9;
    margin: auto;
    top:10%;
    left:0;
    right:0;
    bottom:10%;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    overflow: auto;
}

.dcmFilesDiv {
    width: 80%;
    height: 90%;
    display: table;
    margin: auto;
}

.patientContainerDiv, .ContoursContainerDiv {
    height: 90%;
    width: 100%;
    display: table;
    margin: auto;
}


.dcmFilesDiv .row, 
.patientContainerDiv .row,
.ContoursContainerDiv .row
 {
    display: table-row;
}

.dcmFilesDiv .wfinfo-cell, 
.dcm-files .fileName-cell, .managerDcmFile
.patientContainerDiv, .patienttable-cell {
    display: table-cell;
}

.wf-info .wfinfo-cell{
    vertical-align: top;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
}

.bottom-buttons{
    vertical-align: bottom;
}

.patientTableDiv {
    margin-left: 10%;
}

.patientTableDiv .patienttable-cell,
.managerDcmFile .contoursTableDiv {
    vertical-align: middle;
    width: 80%;
}

.dcmDataInFolderText {
    text-align: center;
    color: black;
}

.contoursTable-cell {
    display:inline-flex;
    height: 90%;
    width: 100%;
    justify-content: center;
}

.patienttable-cell {
    position: relative;
    display: flex;
    margin-left: 10vh;
    height: 90%;
    width: 100%;
    justify-content: center;
}

.patientsDiv{
    opacity:0.95;
    background-color: #D3D3D3;
    position: fixed;
    width:45%;
    height:50%;
    z-index:2000;
    border: 3px solid #A9A9A9;
    margin: 0 auto;
    top:10%;
    left:0;
    right:0;
    bottom:10%;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    overflow: auto
}

.patientContourspanel {
    opacity:0.95;
    background-color: #D3D3D3;
    position: fixed;
    width:50%;
    height:80%;
    z-index:2000;
    border: 3px solid #A9A9A9;
    margin: auto;
    top:10%;
    left:0;
    right:0;
    bottom:10%;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    overflow: auto;
}

.cleanUnrecordFolder{
    opacity:0.95;
    background-color: #D3D3D3;
    position: fixed;
    width:50%;
    height:70%;
    z-index:2000;
    border: 3px solid #A9A9A9;
    margin: auto;
    top:10%;
    left:0;
    right:0;
    bottom:10%;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    overflow: auto;
}

.createProgressDiv {
    opacity:0.95;
    background-color: #D3D3D3;
    position: fixed;
    width:250px;
    height:50px;
    border: 3px solid #A9A9A9;
    margin: auto;
    top:10%;
    left:0;
    right:0;
    bottom:10%;
    border-radius: 22px;
    font-size:x-large;
    text-align: center;
    padding-top: 15px;
}


.authenticationDiv {
    opacity:0.95;
    background-color: #D3D3D3;
    position: fixed;
    width:400px;
    height:50px;
    border: 3px solid #A9A9A9;
    margin: auto;
    top:10%;
    left:0;
    right:0;
    bottom:10%;
    border-radius: 22px;
    font-size:x-large;
    text-align: center;
    padding-top: 15px;
}

.wfDescription,  .wfLabel {
    display: inline-block;
    width: 170px;
}

.createProgress {
    width: 80%;
    background-color: #D3D3D3;
}
.progressBar{
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
}


/* 
* {
    border: 1px solid #f00 !important;
  }
  */
